{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FB</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
    <script src="main.js"></script>

</head>

<body>

    <div>
        <section>
            <div class="form-box">
                <div class="form-value">
                    <form action="" name="login-form" method="post">
                        <h2>Login to your account</h2>
                        {% csrf_token %}
                        <div class="inputbox">
                            <ion-icon name="mail-outline"></ion-icon>
                            <input type="text" placeholder="Enter Username" id="username" name="username" required>
                            <label id="email" for="Username"></label>
                            <div id="email-error" class="error"></div>
                        </div>
                        <div class="inputbox">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                            <input type="password"  placeholder="Password" id="password" name="pass" required>
                            <label  id="password" for="password"></label>
                            <div id="password-error" class="error"></div>
                        </div>
                        <div class="forget">
                            <label>
                                <input type="checkbox"> Remember me
                            </label>
                            <label>
                                <a href="#">Forgot password?</a>
                            </label>
                        </div>
                        <button type="submit">Log in</button>
                        <div class="register">
                            <p>New to Myapp ? <a href="{% url 'signup' %}">Sign Up</a></p>
                        </div>
                    </form>
                </div>
            </div>
</body>

</html>